.divFormLogin{
    background-color: rgb(255, 255, 255);
}

.botonLogin {
    background-color: rgb(255, 123, 0);
    letter-spacing: 1px;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    box-shadow: 5px 5px 8px rgb(0, 0, 0,.4);
    transform: scale(1.02);
}

.inputLogin{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-color: black;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}